function parseLikeNum(num) {
  if (num < 1000) {
    return num;
  } else if (num >= 1000 && num < 10000) {
    var num = num / 1000;
    return num.toFixed(1) + 'K';
  } else {
    var num = num / 10000;
    return num.toFixed(1) + 'W';
  }
}

;

function showGG(item, index) {
  var mid = item.list.length / 2;
  mid = mid % 2 == 0 ? mid - 1 : mid;
  return mid == index ? true : false;
}

;
module.exports = {
  parseLikeNum: parseLikeNum,
  showGG: showGG
};